# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Environments
.venv/
venv/
.env

# Logs
*.log

# Local dataset (do NOT commit)
Churn_Modelling.csv
