# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/
env/

# Local data + generated outputs (DO NOT COMMIT)
Churn_Modelling.csv
report_figures/
